<div class="container">
  <div class="row">
    <div class="col-10 pt-5">

      <h4 style="width: 20%; text-align: center; margin: 15px; background: #7f141a; color:white">配送先編集</h4>

      <div>
        <%= form_with model: @shipping_address do |f| %>
          <div class="form-group">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>郵便番号(ハイフンなし)</td>
                  <td><%= f.text_field :post_code %></td>
                </tr>
                <tr>
                  <td>住所</td>
                  <td><%= f.text_field :address, :size=>"60" %></td>
                </tr>
                <tr>
                  <td>宛名</td>
                  <td><%= f.text_field :name %></td>
                <td><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
              </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>