<div class="container px-5 px-sm-0">
  <div class="row p-5">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
      <%= image_tag @item.image, size: "400x300" %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 offset-md-1 mx-auto">
      <h4 class="font-weight-bold mb-3"><%= @item.name%></h4>
      <h5><%= @item.description %></5><br><br><br><br><br>
      <h4>¥<%= (@item.price * 1.1).round.to_s(:delimited)  %><p class="h6 d-inline">（税込）</p></h4><br>

      <%= select("cart_item", "quantity", ["1", "2", "3","4", "5", "6","7", "8", "9"], { include_blank: "個数選択" }) %>
      <%= link_to "カートに入れる", cart_items_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto">

    </div>
  </div>
</div>